/***********Defaults***********/
nav, header, footer{
  display: block;
}
body{
  line-height: 0;
  margin: 0;
}
/************NavBar************/
nav{
  width: 100%;
  margin: 0;
}
nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;

}
ul.topnav li {
  list-style: none;
  float: left;
}
ul.topnav li.topnav-right {
  float: right;
}
h1{
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  color: red;
  padding: 19px;
}
ul.topnav li a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 55px;
  text-transform: uppercase;
  color: white;
}
ul.topnav li a:hover {
  color: #0080ff;
}
.borderImg{
  border-radius: 600px;
  width: 50px;
  height: 50px;
  border: 5px solid red;
  padding: 20px;
}
button{
  background-color: #0080ff;
  margin: 0;
  padding: 0;
  font-family:fantasy;
  font-size: 60px;
  color: white;
  border-radius: 10px;
}
button:hover{
  background-color: transparent;
  color: #0080ff;
}
.btn{
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50, -50);
}
body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}
